@import './sass/variables';

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  border: 1px solid $color-gray-3;
  border-radius: 4px;
  height: 500px;
  max-width: 475px;
  width: 100%;
  box-shadow: 0 4px 20px $color-gray-2;

  display: flex;
  flex-direction: column;
}

.output {
  flex: 1;
  background: $color-gray-3;
  color: $color-white-1;
  padding: 0 12px 12px 12px;
  padding: 12px;
  font-size: 48px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.inputs {
  flex: 2;

  &__row {
    display: flex;
    align-items: center;
  }

  &__input {
    color: $color-white-1;
    width: 100%;
    padding: 20px;
    flex: 1;
    cursor: pointer;
    border: 1px solid $color-gray-3;
    background-color: $color-gray-6;

    display: flex;
    justify-content: center;
    align-items: center;

    &--non-number {
      background-color: $color-gray-4;
    }

    &--operator {
      cursor: pointer;
      background-color: $color-orange-1;
    }

    &--ac {
      background-color: $color-gray-2;
    }

    &--number {
    }
  }
}
